<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="iss.nus.edu.sg.mygo">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:targetApi="31">

        <!-- Default Activity (Main) -->
        <activity
            android:name=".home.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.MyGo">
<!--                <intent-filter>-->
<!--                    <action android:name="android.intent.action.MAIN" />-->
<!--                    <category android:name="android.intent.category.LAUNCHER" />-->
<!--                </intent-filter>-->
        </activity>

        <!-- MygoGreeting activity -->
        <activity
            android:name=".home.MyGoGreeting"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label="@string/title_activity_mygo_greeting"
            android:theme="@style/Theme.MyGo.Fullscreen">
<!--这里不需要 intent-filter 如果它不作为启动页面 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<!--login-->
        <activity
            android:name=".home.LoginActivity"
            android:exported="true"
            android:theme="@style/Material3.Theme.MyGo">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
<!--hotel_main-->
        <activity
            android:name=".home.HotelMainActivity"
            android:exported="true"
            android:theme="@style/Material3.Theme.MyGo">
        </activity>
<!--register-->
        <activity android:name=".home.RegisterActivity"
            android:exported="true"
            android:theme="@style/Material3.Theme.MyGo">
        </activity>
<!--hotel_search-->
        <activity
            android:name=".home.HotelSearchActivity"
            android:theme="@style/Material3.Theme.MyGo">
        </activity>
<!--hotel_detail-->
        <activity android:name=".home.HotelDetailActivity"
            android:theme="@style/Material3.Theme.MyGo"
            >
        </activity>

        <activity android:name=".home.AttractionDetailActivity"
            android:theme="@style/Material3.Theme.MyGo"/>

        <activity android:name=".home.AttractionMainActivity"
            android:theme="@style/Material3.Theme.MyGo"/>

        <activity
            android:name=".home.FlightMainActivity"
            android:exported="true"
            android:theme="@style/Material3.Theme.MyGo">
        </activity>

    </application>

</manifest>